@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-deep-purple, 800, 500, 900);
$accent: mat-palette($mat-amber, A400, A300, A600);


.bg-primary {
  background-color: mat-color($primary);
  color: white; 
}

.color-accent {
  color: mat-color($accent);

}
.card {
    margin: 10px;
    min-width: 30vw;
    max-width: 45vw;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}